<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="range_sensor" params="name parent *origin rate maxRange minRange fov">

     <link name="${name}_link">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.02" length="0.02"/>
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.02" length="0.02"/>
        </geometry>
      </visual>

      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0"
                 iyy="1e-6" iyz="0"
                 izz="1e-6" />
      </inertial>
    </link>

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <axis xyz="0 1 0" />
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <!-- Gazebo plugin for range sensor -->
    <gazebo reference="${name}_link">
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <update_rate>${rate}</update_rate>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>5</samples>
              <resolution>1</resolution>
              <min_angle>-${fov/2}</min_angle>
              <max_angle>${fov/2}</max_angle>
            </horizontal>
            <vertical>
              <samples>5</samples>
              <resolution>1</resolution>
              <min_angle>-${fov/2}</min_angle>
              <max_angle>${fov/2}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${minRange}</min>
            <max>${maxRange}</max>
            <resolution>0.01</resolution>
          </range>
        </ray>
        <plugin filename="libgazebo_ros_range.so" name="gazebo_ros_range">
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>${rate}</updateRate>
          <topicName>${name}/range</topicName>
          <frameName>${name}_link</frameName>
          <minRange>${minRange}</minRange>
          <maxRange>${maxRange}</maxRange>
          <fov>${fov}</fov>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
