<launch>
    <arg name="robot_ns" default="goldorak" />

    <!-- Load list of UAVCAN nodes -->
    <rosparam command="load" file="$(find goldorak_bringup)/param/uavcan_nodes.yaml"/>

    <!-- Load motors parameters -->
    <rosparam command="load"
              file="$(find goldorak_bringup)/param/right_wheel.yaml"
              ns="$(arg robot_ns)/right_wheel" />
    <rosparam command="load"
              file="$(find goldorak_bringup)/param/left_wheel.yaml"
              ns="$(arg robot_ns)/left_wheel" />

    <!-- Start the bridge -->
    <node name="uavcan_bridge"
          pkg="uavcan_core"
          type="uavcan_bridge"
          args="10"
          ns="$(arg robot_ns)"/>

    <!-- Start configuration node -->
    <node name="motor_control_config"
          pkg="uavcan_core"
          type="motor_config_server"
          args="11"
          ns="$(arg robot_ns)"
          respawn="true"
          output="screen"/>
</launch>
